<a href="https://colab.research.google.com/github/alvas-education-foundation/Pragati-m-k/blob/master/Day_3_examples_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program for prime number -bad code
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
if x ==i//2:
   print ("{} is a prime number".format(i))

The number 25 is not prime

In [ ]:
#Good code using for... else
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

The number 25 is not prime

In [ ]:
#Using Unpacking to Write Concise Code
a, b = 2, 'my-string'
print(a)
print(b)

2
my-string

In [ ]:
#Bad unpacking
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

In [ ]:
#Excellent unpacking
a,b,c,d,e=x
print(a, b, c, d, e)

1 2 4 8 16

In [ ]:
#unpacking some elements
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

In [ ]:
#Using Chaining to Write Concise Code
x = 4
print(x >= 2 and x <= 8)

True

In [ ]:
#chained assignments
x = y = z = 2
x, y, z # when we use , it becomes tuple

(2, 2, 2)

In [ ]:
#Checking against None
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

In [ ]:
#In pythonic way
x is None
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

In [ ]:
#Iterating over Sequences
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

In [ ]:
#But instead we can do like this in elegant way
for item in x:
  print(item)

1
2
4
8
16

In [ ]:
#to iterate in the reversed order
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

In [ ]:
#Comparing to Zero
#To print only non zero values from tuple x
x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

In [ ]:
#Avoiding Mutable Optional Arguments
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))

[2]

In [ ]:
#keep away from that with some additional logic.
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]